* {
    margin: 0;
    padding: 0;

}

.header {
    display: flex;
    padding: 52px 40px;
    justify-content: space-between;
    align-items: center;
}

.header-logo-cont {
    display: flex;
    align-items: center;
}

.header-logo-cont img {
    width: 40px;
    height: 40px;
    margin-right: 18px;
}

.logo-text {
    color: #0E0F13;
    font-size: 28px;
    font-family: Cabin;
    font-weight: 500;
    font-style: normal;
    line-height: 100%;
}



.nav-menu ul {
    display: flex;
    gap: 56px;
    align-items: center;
    list-style-type: none;

}

.nav-menu a {
    color: #0E0F13;
    font-family: Cabin;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;

}

.nav-menu a.special {
    color: #425DF8;
    font-weight: 500;
    font-size: 20px;
    font-family: Cabin;
    font-style: normal;
}

.header-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
}

.button1 {
    padding: 18px 22px;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #DADADA;
    color: #0E0F13;
    background-color: white;
    font-family: Cabin;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.72px;
    text-transform: uppercase;
}

.button1:hover {
    border-radius: 8px;
    border: 1px solid #DADADA;
    background: #DADADA;
}

.button2 {
    padding: 18px 22px;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #425DF8;
    background: #425DF8;
    color: #F6FDFF;
    font-family: Cabin;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.72px;
    text-transform: uppercase;
}

.button2:hover {
    border-radius: 8px;
    border: 1px solid #425DF8;
    background-color: white;
    color: #425DF8;
}

.content-block {
    flex-direction: column;
    gap: 120px;
    margin: 0 52px 196px;
    margin-top: 120px;
}

.content-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 25px;
}

.title1 {
    color: #0E0F13;
    font-family: Cabin;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;

}

.title2 {
    color: #7F828A;
    font-family: Cabin;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.plan-content-cards {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 24px;
    padding: 234px 52px 252px 52px;
}

.plan-cards {
    display: flex;
    width: 416px;
    height: 789px;
    padding: 56px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    border: 1px solid #DADADA;
    background: #FDFDFD;
    font-family: Cabin;
    font-style: normal;
}

.plan-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 27px;
}

.plan-title {
    display: flex;
    flex-direction: column;
    gap: 27px;
    width: 380px
}

.plan-content h2 {
    color: #0E0F15;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    line-height: 125%;
}

.plan-content p {
    color: #7F828A;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 125%;

}

.price {
    display: flex;
    width: 380px;
    justify-content: center;
    align-items: center;
    gap: 16px;

}

.price h3 {
    color: #0E0F15;
    text-align: right;
    font-size: 64px;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -2.56px;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.list-item {
    display: flex;
    gap: 16px;
    align-self: stretch;
    color: #7F828A;
    font-size: 22px;
    font-weight: 400px;
    text-transform: capitalize;
}

.bullet {
    display: flex;
    width: 24px;
    height: 24px;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 500px;
    background: #425DF8;
}

.vector {
    width: 15px;
    stroke-width: 2px;
}

.btn {
    border-radius: 8px;
    border: 1px solid #425DF8;
    background: #425DF8;
    padding: 18px 22px;
}

.btn-text {
    text-decoration: none;
    color: #F6FDFF;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.plan-cards-black {
    display: flex;
    width: 416px;
    height: 817px;
    padding: 56px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    border: 1px solid #161A34;
    background: #161A34;
    font-family: Cabin;
    font-style: normal;
}

.plan-content-black {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 27px;
}

.plan-title-black {
    display: flex;
    flex-direction: column;
    gap: 27px;
    width: 380px
}

.plan-cards-black h2 {
    color: #F6FDFF;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    line-height: 125%;
}

.plan-cards-black p {
    color: #F6FDFF;
    text-align: center;
    font-family: Cabin;
    font-size: 22px;
    font-weight: 400;
    line-height: 125%
}

.price-black {
    display: flex;
    width: 380px;
    justify-content: center;
    align-items: center;
    gap: 16px;
}



.price-black h3 {
    color: #F6FDFF;
    text-align: right;
    font-family: Cabin;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -2.56px;
}

.footer {
    display: flex;
    flex-direction: column;
    
}

footer hr {
    height: 1px;
    align-self: stretch;
    background: #0E0F13;
}
.footer-text{
    display: flex;
    padding: 16px 0px;
    justify-content: space-between;
    
   
}
.footer-logo{
    display: flex;
align-items: center;
align-items: flex-start;
gap: 16px;
padding: 0 52px 0 52px;
}
.footer-logo img{
    width: 24px;
height: 24px;
}
.footer-logo span{
    color: #7F828A;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%
}
.footer-text p {
    color: #7F828A;
text-align: right;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%;
padding: 0 52px 0 52px;
}